@use "../../../portal/v2/common/styles/mixins";
@use "../../../portal/v2/common/styles/variables";

.root {
  align-items: center;
  background-color: #F6F6F6;
  display: flex;
  height: 72px;
  justify-content: space-between;

  @include mixins.breakpoint-above(variables.$breakpoint-1024) {
    padding: 0 156px;
  }

  @include mixins.breakpoint-below(variables.$breakpoint-1024) {
    padding: 0 24px;
  }

  .logo {
    color: #101318;
    font-family: "Crimson Pro";
    font-size: variables.$fs-24;
    font-weight: bold;
    letter-spacing: -1px;
    @include mixins.link-reset;
  }

  .navbar {
    a {
      color: variables.$color-gray-blue;
      font-family: 'Inter';
      font-size: variables.$fs-16;
      letter-spacing: -1px;;
      margin-left: 24px;
      @include mixins.link-reset;
    }
  }
}