@use "../common/styles/mixins";
@use "../common/styles/variables";

.content {
  @include mixins.centered-container;
}

.accordion {
  margin-block-end: 32px;
  @include mixins.centered-container($pad-mobile: true);
}

.addButton {
  @include mixins.outlined-btn;
  justify-content: space-between;
  width: 100%;
}

.addButtonIcon {
  fill: variables.$color-gray-blue;
}

.footer {
  padding-block: 36px;
  @include mixins.centered-container($pad-mobile: true);
}
