@use "../../../../common/styles/mixins";
@use "../../../../common/styles/variables";


.divider {
  border-top: 2px solid rgba(0,0,0,.1);
  margin-block: 36px;
}

.editor {
  @include mixins.shadow-container;
}

.footer {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: end;
  padding-block: 36px;
  @include mixins.centered-container(true);
}

.footerButton {
  flex: 1 1 50%;
  max-width: 168px;
}

.footerButtonFilled {
  composes: footerButton;
  @include mixins.filled-btn;
}

.footerButtonOutlined {
  composes: footerButton;
  @include mixins.outlined-btn;
}

.formField {
  + .formField {
    margin-block-start: 16px;
  }
}

.formFieldInput {
  background-color: #F4FAFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  color: variables.$color-gray-blue;
  font-size: 16px;
  height: 48px;
  padding-inline: 18px;
  width: 100%;
}

.formFieldLabel {
  color: variables.$color-black;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-block-end: 8px;
}

.formFieldHelpText {
  color: variables.$color-gray-blue;
  font-size: 16px;
  margin-block-start: 16px;
}

.imageContainer {
  cursor: crosshair;
  display: inline-block;
  position: relative;
}

.marker {
  background-color: #FF0000;
  border: 2px solid variables.$color-white;
  border-radius: 50%;
  height: 18px;
  margin-left: -9px;
  margin-top: -9px;
  position: absolute;
  transition: left 200ms, top 200ms;
  width: 18px;
}
