.final_card_header {
  /* background-color: black; */
  color: white;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 16%; */
}
.final_card_alert {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .final_card_alert {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .message {
    font-size: 14px;
    padding-right: 30% !important;
    margin-top: 0.5rem !important;
  }
  .initial_screen {
    margin-top: -25px !important;
  }
}


/* ,essahe font-size: clamp(12px, 1.5vw, 32px); */