.final_card_header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 16%;
}
.final_card_alert {
  margin: 0 auto;
}
.final_card_info {
  display: flex;
  flex-direction: row;
  padding-top: 3%;
}

@media screen and (max-width: 768px) {
  .final_card_alert {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .message {
    font-size: 12px;
    padding-right: 30% !important;
    margin-top: 0.5rem!important;
  }
}
