.files_upload_group {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 50vh;
}
.media_upload {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.media_text_input {
 display: flex;
 flex-direction: column;
}

.media_upload_input {
    display: flex;
}

.upload_button {
    border-radius: 10px;
    border: 1px solid hsl(0deg 0% 49.41%);
    color: hsl(0deg 0% 49.41%);
    width: 18vw;
    height: 6vh;
}