.files_upload_group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    width: 100%;
    padding-top: 2rem;
}

.files_notice {
    border: solid 1px black;
    border-radius: 6px;
    margin-top: 1rem;
    min-height: 49px;
    min-width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vh 0;
}

.media_upload {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    /* margin-top: 1rem;s */
    /* justify-content: space-around; */

}

.media_text_input {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-right: 1rem;
}

.media_upload_input {
    border-radius: 10px;
    border: 1px solid hsl(0deg 0% 49.41%);
    color: hsl(0deg 0% 49.41%);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    &:hover {
      transform: scale(1.1);
      border: 1.5px solid #F0148B;
    }

    /* &:active{
     border: 1.2px solid #F0148B;
    } */
}

