@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

select::-ms-expand {
  display: none;
}
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

html * {
  /* font-family: "Crimson Pro"; */
  font-family: "Inter";
}

.App {
  padding-left: 20%;
  padding-right: 20%;
}

.App {
  --desktop-font-size: clamp(0.5rem, 2vw, 1.5rem);
  --mobile-font-size: clamp(1rem, 2.5vw, 2rem); 
}

.ham_menu {
  right: 25% !important;
}

.main_section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 1vh; */
  padding: 2vh;
  /* border: 0.5px solid black; */
  border-radius: 10px;
}

.fields_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 40%; */
  padding: 1rem 0;

  overflow-y: auto;
  height: 100%;
}
.overflow_hidden{
  overflow: hidden;
  justify-content: normal;
}

.sign_up_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main_btn {
  color: white;
  background-color: black;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0px;
  border-radius: 10px;
  font-family: "JetBrains mono";
}
.main_btn:hover {
  cursor: pointer;
}

.btn_disabled {
  /* background-color: rgb(49, 49, 49); */
}
.btn_disabled:hover {
  cursor: not-allowed;
}

.question_label {
  font-size: 32px;
}

.main_section_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 15px;
  margin-top: 10px;
}

.form_input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(0, 0, 0);
  /* font-size: 14px; */
  /* font-size: clamp(1rem, 2.5vw, 2rem); */
  font-size: var(--desktop-font-size);
  font-weight: 200;
}

.input_label {
  display: block;
  /* font-size: clamp(1rem, 2.5vw, 2rem); */
  font-size: var(--desktop-font-size);
}

.main_text {
  font-family: "Crimson Pro";
  font-style: italic;
}
.bold_text {
  font-weight: 620;
}

/* header  */
.header {
  font-size: 22px;
  width: 350px;
  height: 24px;
  display: flex;
}
.main_text {
  font-family: "Crimson Pro";
  font-style: italic;
}
.bold_text {
  font-weight: 620;
}

.ham_menu {
  position: absolute;
  right: 10px;
  height: inherit;
}

/* main section  */
.message {
  font-size: 12px;
  padding-right: 40%;
}
.landing_page_animation {
  margin: 0 auto;
  height: 449px;
  overflow: hidden;
}
.landing_page_animation > img {
  width: 300px;
  height: 450px;
}

.btn_white {
  color: black;
  background-color: white;
}

/* sign up form  */
.first_label {
  padding-top: 100px;
}

.error_message {
  color: red;
}

/* FAQ  */
.faq_item{
  padding-bottom: 2%;
}
.faq_question {
  font-size: 1.2vw;
  text-decoration: underline;
}
.faq_info {
  font-size: 1vw;
}
.bold {
  font-weight: bold;
}
.close_icon {
display: flex;
/* text-align: right; */
font-size: 1.5vw;
justify-content: flex-end;
padding-top: 15px;
}
.faq_email{
  color: blue;
}

/* mobile devices  */
@media (max-width: 480px) {
  .App {
    padding-left: 0px;
    padding-right: 0px;
    /* justify-content: space-between; */
  }
  .ham_menu {
    right: 15px !important;
  }
  .message {
    padding-right: 35%;
  }
  /* .main_section {
    border: 0px !important;
  } */
  .landing_page_animation {
    height: 399px;
    width: 290px;
  }
  .landing_page_animation > img {
    height: 400px;
  }
  .input_label {
    font-size: var(--mobile-font-size);
  }
  .form_input {
    font-size: var(--mobile-font-size);
  }
  .art_form_btn {
    width: 78px !important;
    height: 45px !important;
  }
}

/* iPads, Tablets */
@media screen and (max-width: 768px) {
  .message {
    /* border: 2px solid pink; */
  }
  /* .landing_page_animation {
    height: 399px;
    width: 290px;
  }
  .landing_page_animation > img {
    height: 400px;
  } */
  /* .main_section {
    border: 0px !important;
  } */
  /* .App {
  } */
}

/* small screens, laptops*/
@media screen and (max-width: 1024px) {
  .main_section {
    /* border: 0px !important; */
    overflow: hidden;
  }
  .message {
    /* border: 1px solid blue; */
  }
}

/* desktops, large screens*/
@media screen and (max-width: 1200px) {
}

@media screen and (max-height: 800px) {
}

@media screen and (max-height: 879px) {
  /* .message {
    border: 1px solid blue;
  }
   */
}
